{{> head }}
{{> navbar }}
      
<div class="row">
    <div class="col-8">
        <h1>Así somos</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ab odio nostrum 
            velit vero porro earum aliquam illo placeat, voluptate ipsa consectetur
             ratione alias quam ullam laboriosam fugit blanditiis. Ab.</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/Foto_AACP.jpg" alt="">
    </div>
</div>

{{> footer }}